<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wc.webprovider.db.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="org.wc.webprovider.db.pojo.Goods">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="discount" jdbcType="REAL" property="discount" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="baseQuery_selector">
    <if test="id != null">
      AND id=#{id,jdbcType=INTEGER}
    </if>
    <if test="name != null">
      AND name=#{name,jdbcType=VARCHAR}
    </if>
    <if test="price != null">
      AND price=#{price,jdbcType=REAL}
    </if>
    <if test="discount != null">
      AND discount=#{discount,jdbcType=REAL}
    </if>
    <if test="updateTime != null">
      AND update_time=#{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createTime != null">
      AND create_time=#{createTime,jdbcType=TIMESTAMP}
    </if>
  </sql>
  <insert id="insert" parameterType="org.wc.webprovider.db.pojo.Goods">
    insert into goods (id, name, price, 
      discount, update_time, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{discount,jdbcType=REAL}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.wc.webprovider.db.pojo.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=REAL},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="selectAll" parameterType="org.wc.webprovider.db.pojo.Goods"
    resultMap="BaseResultMap">
      select * from goods
        <where>
          <include refid="baseQuery_selector"></include>
        </where>
  </select>
</mapper>